{% load static %}

{# 소셜 로그인 #}
{% load socialaccount %}
{% providers_media_js %}

<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Django - {% block title %} Welcome {% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    
    {% block head %} {% endblock %}
</head>

<body>
{% include "menu.html" %}

<h1>소셜 로그인을 해봐요!</h1>

{% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">로그아웃</a>
    {{user.username}} 님이 로그인중
    <a href="{% url 'admin:index' %}">[Admin]</a>
{% else %}        
    <a href=" {% provider_login_url 'google' %}">구글 로그인(및 회원가입)</a><br>
    <a href="{% url 'account_signup' %}">일반회원가입</a><br>
{% endif %}

{% comment %}
    소셜 로그인
    1. 로드를 해줘야 한다.
    2. 미디어 파일, 로그인 페이지의 템플릿 페이지를 쓰고 싶으면 써줘야 한다.
    3. 회원가입 링크는, 우리가 만들지 않아도 allauth 패키지를 사용했기 때문에 제공이 되는 기능이다!
    4. `user.is_authenticated` 는 유저가 로그인이 되어 있는지 아닌지를 판단하는 코드
    5. 그 다음은, 만약 로그인이 안되어 있다면, 구글 로그인이라는 링크를 달아주고, 그 경로를 적어준 것이다.
    여기서 `provider_login_url 'google'` 이런식의 url을 적어줘야 한다. 다른 provider가 있다면 그 뒤에 다른 회사이름을 넣어주면 되겠다.
{% endcomment %}

{% block content %} {% endblock %}

{% include "copyright.html" %}