<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



</head>
<body>

    {{message}}
    <!-- 하지만, Django 개발 가이드라인은 "App폴더/templates/App명/템플릿파일" 처럼,
        각 App 폴더 밑에 templates 서브폴더를 만들고 다시 그 안에 App명을 사용하여 서브폴더를 만든 후 템플릿 파일을 그 안에 넣기를 권장한다 (예: /home/templates/home/index.html ).-->
    <!--
        template tags and filters        
        docs.djangoproject.com/ko/2.1/ref/templates/builtins/
    -->
    {% if count > 0 %}
    Data Count = {{ count }}
    {% else %}
    No Data
    {% endif %}
 
    {% for item in dataList %}
      <li>{{ item.name }}</li>
    {% endfor %}
 
{% csrf_token %}

<!-- 템플릿 필터 -->
날짜 포맷 지정 : 
{{ createDate|date:"Y-m-d" }}
 
소문자로 변경 : 
{{ lastName|lower }}


<!-- 코멘트(주석) -->
{# 1 라인 코멘트 #}
 
{% comment %}  
  <div>
      <p>
          불필요한 블럭
      </p>
      <span></span>
  </div>
{% endcomment %}

<!-- HTML Escape (HTML 내용 중에 <, >, ', ", & 등과 같은 문자들이 있을 경우) -->
{% autoescape on %}     # autoescape 태그
    {{ content }}
{% endautoescape %}
 
{{ content|escape }}    # escape 필터


</body>
</html>